<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:label="HWO"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- بقية إعدادات التطبيق الافتراضية -->
    </application>
</manifest>
