<application
    android:name="${applicationName}"
    android:label="HWO"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher"
    android:usesCleartextTraffic="true">
    
    <!-- باقي الكود هنا -->

    <meta-data
        android:name="flutterEmbedding"
        android:value="2" />
</application>
